# Estructuras de Datos en Python

## Lists

Las listas **Lists** son la forma más común de estructura de datos en Python. Son secuencias de datos encerrados entre **'[ ]'** y separados por comas. Cada uno de estos datos puede ser accedido llamándolo a partir de un índice. 

Las Listas se pueden inicializar asignado a una variable simplemente **'[ ]'**.

In [3]:
a = []

In [4]:
print (type(a))

<class 'list'>

Se pueden asignar datos directamente a una lista de la siguiente forma:

In [5]:
x = ['manzana', 'naranja']

### Indexado

En Python, los índices comienzan por 0. La lista anterior, tendría dos elementos: el 0, que equivaldría a 'manzana'  y el 1 que equivaldría a 'naranja'

In [6]:
x[0]

'manzana'

También se puede indexar al revés. Es decir, el último elemento puede ser el primero accedido. Así el -1 accede a 'naranja' el -2 accede a 'manzana'

In [7]:
x[-1]

'naranja'

In [8]:
y = ['zanahoria','patata']

Podemos crear una lista de listas, lista anidada, de la siguiente forma: Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [9]:
z  = [x,y]
print (z)

[['manzana', 'naranja'], ['zanahoria', 'patata']]

In [11]:
z1 = z[0]
print (z1)

['manzana', 'naranja']

In [12]:
z1[0]

'manzana'

Este mismo resultado se puede conseguir de esta manera:

In [13]:
z[0][0]

'manzana'

Si hubiera una lista dentro de una lista que está dentro de otra lista, podríamos indexar uno de los valores de la última lista de esta manera: z[ ][ ][ ].

### Cortar listas

El indexado está limitado a un sólo elemento. Sin embargo, cortar listas permite acceder a una secuencia de datos de la lista.

Esto se hace definiendo los indices para el primer y el último elemento de la lista padre. Si el primer indice no se determina, la lista cortada empieza desde el primer elemento. Si el segundo índice no se determina, la lista cortada termina en el último elemento.

In [14]:
num = [0,1,2,3,4,5,6,7,8,9]

In [15]:
print (num[0:4])
print (num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [13]:
num[:9:3] # Este ejemplo determina una lista desde el principio hasta el elemento 9, de tres en tres.

[0, 3, 6]

### Funciones de listas integradas

La función **len( )** devuelve la longitud de la lista o el número de elementos de la lista.

In [16]:
len(num)

10

Si la lista es de números enteros, **min( )** y **max( )** da el minimo y el máximo de la lista respectivamente

In [17]:
min(num)

0

In [18]:
max(num)

9

Las Listas pueden ser concatenadas con el operador **'+'**. La lista resultante contendrá todos los elementos de ambas listas, pero sin ser una lista anidada.

In [20]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

Consideremos la siguiente lista.

In [21]:
nombres = ['Tierra','Aire','Fuego','Agua']

Para comprobar si Fuego y Manzana están en la lista nombres, usamos la función **'in'**

In [22]:
'Fuego' in nombres

True

In [23]:
'Manzana' in nombres

False

Si la lista contiene cadenas **max( )** devolverá la cadena con valor ASCII más alto. **min( )** la cadena con valor ASCII más bajo.

In [24]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [25]:
print (max(mlist))
print (min(mlist))

z
az

In [26]:
nlist = ['1','94','93','1000']

In [27]:
print (max(nlist))
print (min(nlist))

94
1

Pero si queremos encontrar la cadena máxima basándose en la longitud de la cadena, debemos incorporar otro parámetro: **'key=len'**

In [29]:
print (max(nombres, key=len))
print (min(nombres, key=len))

Tierra
Aire

Se puede colocar cualquier función en lugar de **len** 

Una cadena puede ser convertida en una lista usando la función **list()**

In [30]:
list('Hola')

['H', 'o', 'l', 'a']

**append( )** se usa para añadir un elemento al final de la lista

In [4]:
lst = [1,1,4,8,7]

In [5]:
lst.append(1)
print (lst)

[1, 1, 4, 8, 7, 1]

También puede usarse para añadir una lista completa al final. Pero se la lista resultante será una lista anidada.

In [6]:
lst1 = [5,4,2,8]

In [7]:
lst.append(lst1)
print (lst)

[1, 1, 4, 8, 7, 1, [5, 4, 2, 8]]

**count( )** se usa para contar el número de apariciones de un elemento en una lista

In [8]:
lst.count(1)

3

**index( )** se usa para encontrar el índice de un elemento en particular. Si hay varios valores, se devuelve el primer índice.

In [10]:
lst.index(1) #devuelve 0 porque es el primer elemento.

0

**insert(x,y)** se usa para insertar un elemento y con un valor de índice x.

In [39]:
lst.insert(5, 'nombre')
print (lst)

[1, 1, 4, 8, 7, 'nombre', 1, [5, 4, 2, 8]]

Sin embargo, no reemplaza el valor que ya había en el índice x, para reemplazarlo se utiliza:

In [40]:
lst[5] = 'Python'
print (lst)

[1, 1, 4, 8, 7, 'Python', 1, [5, 4, 2, 8]]

**pop( )** devuelve el último elemento de la lista. Es similar a esta misma operación en una pila. Por lo que podríamos usar listas como pilas.

In [41]:
lst.pop()

[5, 4, 2, 8]

Index value can be specified to pop a ceratin element corresponding to that index value.

In [37]:
lst.pop(0)

1

**remove( )** sirve para eliminar un elemento por su valor

In [42]:
lst.remove('Python')
print (lst)

[1, 1, 4, 8, 7, 1]

**del** hace lo mismo que **remove** pero a partir del índice

In [43]:
del lst[1]
print (lst)

[1, 4, 8, 7, 1]

**reverse()** invierte el orden de los elementos de una lista.

In [45]:
lst.reverse()
print (lst)

[1, 4, 8, 7, 1]

**sort( )** ordena los elementos de una lista.

In [46]:
lst.sort()
print (lst)

[1, 1, 4, 7, 8]

Para orden descendente, añadimos como argumento: reverse=True.

In [47]:
lst.sort(reverse=True)
print (lst)

[8, 7, 4, 1, 1]

También puede ordenar cadenas por sus códigos ASCII.

In [48]:
nombres.sort()
print (nombres)
nombres.sort(reverse=True)
print (nombres)

['Agua', 'Aire', 'Fuego', 'Tierra']
['Tierra', 'Fuego', 'Aire', 'Agua']

Para ordenar basándose en la longitud utilizamos key=len

In [49]:
nombres.sort(key=len)
print (nombres)
nombres.sort(key=len,reverse=True)
print (nombres)

['Aire', 'Agua', 'Fuego', 'Tierra']
['Tierra', 'Fuego', 'Aire', 'Agua']

### Copiando listas

Hay que tener cuidado a la hora de asignar listas a otras listas, ya que quedarán enlazadas y cualquier cambio en una, provocará el cambio en la otra

In [51]:
lista= [2,1,4,3]

In [52]:
listb = lista
print (listb)

[2, 1, 4, 3]

Si hacemos operaciones sobre **lista**

In [53]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [54]:
print (listb)

[2, 1, 4, 9]

Por lo que acabaremos modificando por error la otra lista.

Para copiar una lista, pero sin asociarlas:

In [55]:
lista = [2,1,4,3]

In [57]:
listb = lista[:]
print (listb)

[2, 1, 4, 3]

In [58]:
lista.pop()
print (lista)
lista.append(9)
print (lista)

[2, 1, 4]
[2, 1, 4, 9]

In [59]:
print (listb)

[2, 1, 4, 3]

## Tuplas

Las tuplas son similares a las listas, pero con la diferencia que los valores de las listas pueden modificados, pero los de las tuplas no.

Para definir una tupla, la variable se asigna a paréntesis o a la palabra reservada tuple().

In [60]:
tup = ()
tup2 = tuple()

Cuando aplicamos el operador * multiplicar a una tupla, se repite el contenido de una tupla por el valor.

In [61]:
2*(27,)

(27, 27)

Otras operaciones básicas con tuplas:

In [67]:
tup3 = tuple([1,2,3]) #asignamos valores a una tupla
print (tup3)
tup4 = tuple('Hola') #asigna una tupla con los valores individuales de las letras de la cadena.
print (tup4)

(1, 2, 3)
('H', 'o', 'l', 'a')

El indexado y el cortado de las tuplas funcionan como las listas

In [68]:
print (tup3[1])
tup5 = tup4[:3]
print (tup5)

2
('H', 'o', 'l')

### Asignando una tupla a variables

In [69]:
(a,b,c)= ('alpha','beta','gamma')

In [70]:
print (a,b,c)

alpha beta gamma

### Funciones integradas de las tuplas

**count()** cuenta el número de veces que aparece un elemento en una tupla.

In [71]:
tup4.count('l')

1

**index()** devuelve el índice de un elemento determinado. Si hay más de uno, devuelve el primero de ellos.

In [72]:
tup4.index('a')

3

## Conjuntos

Los conjuntos son muy utilizado para eliminar números repetidos en una secuencia o lista.

Los conjuntos se declaran con **set()**

In [74]:
conjunto1 = set()
print (type(conjunto1))

<class 'set'>

In [75]:
conjunto0 = set([1,2,2,3,3,4]) #los elementos repetidos se eliminan
print (conjunto0)

{1, 2, 3, 4}

### Funciones integradas

In [77]:
conjunto1 = set([1,2,3])

In [78]:
conjunto2 = set([2,3,4,5])

**union( )** devuelve un conjunto que contiene todos los elementos de ambos conjuntos sin repetición de elementos.

In [79]:
conjunto1.union(conjunto2)

{1, 2, 3, 4, 5}

**add( )** añade un elemento determinado en un conjunto. El índice del elemento añadido, no tiene por qué ser el último.

In [80]:
conjunto1.add(0)
conjunto1

{0, 1, 2, 3}

**intersection( )** devuelve un conjunto que contiene todos los elementos que están en ambos conjuntos.

In [81]:
conjunto1.intersection(conjunto2)

{2, 3}

**difference( )** devuelve una función que contiene elementos que están en el conjunto1 y no en el conjunto2.

In [82]:
conjunto1.difference(conjunto2)

{0, 1}

**issubset( ), isdisjoint( ), issuperset( )** son utilizadas para comprobar si un conjunto es un subconjunto, son disjuntos o es un superconjunto de otro conjunto respectivamente.

In [83]:
conjunto1.issubset(conjunto2)

False

In [84]:
conjunto2.isdisjoint(conjunto1)

False

In [85]:
conjunto2.issuperset(conjunto1)

False

**pop( )** elimina un elemento arbitrario de un conjunto

In [87]:
conjunto1.pop()
print (conjunto1)

{2, 3}

**remove( )** elimina un elemento determinado de un conjunto

In [88]:
conjunto1.remove(2)
conjunto1

{3}

**clear( )** limpia un conjunto y lo deja vacío.

In [89]:
conjunto1.clear()
conjunto1

set()