# Bases de datos en Python

En este cuaderno aprenderemos:

    -Introduccion a las Bases de datos en Python
        -Pasos genéricos a la hora de trabajar con BBDD
        -Otras operaciones CRUD
        -Módulos de BBDD comunes.

## Introducción a las BBDD en Python

En Python podemos conectar y trabajar con cualquiera de los distintos tipos de BBDD relacionales y NoSQL existentes en el mercado.

Para todas ellas hay un módulo que contiene la forma de comunicarse con el motor de Base de Datos al que representa. (SQL Server, Oracle, MySql, SQLite, PostgreSQL, etc. O bien MongoDB, Cassandra, Redis, etc.)

### Pasos genéricos a la hora de trabajar con BBDD.

0. Importar el módulo adecuado a la BBDD
1. Abrir o crear la conexión con la base de datos.
2. Crear puntero
3. Ejecutar la consulta SQL (o No-SQL)
4. Manejar los resultados de la consulta (CRUD)
5. Cerrar puntero
6. Cerrar conexión.

Veamos un ejemplo con SQLite ya que es el módulo estandar de BBDD para Python y no hay que instalar nada:

In [6]:
# paso 0
import sqlite3

# paso 1
conexion=sqlite3.connect("miBaseDatos")

# paso 2
puntero=conexion.cursor()

# paso 3
puntero.execute("CREATE TABLE DATOS (Id INTEGER PRIMARY KEY AUTOINCREMENT, NOMBRE VARCHAR(50), EDAD INTEGER, DOMICILIO VARCHAR(50))")

# para evitar estar constreñidos a una sóla linea, podemos escribir en varias lineas si en vez de
# una comilla doble simple o doble para el texto, escribimos tres simples antes y después de la 
# instruccion:

# puntero.execute('''
#    CREATE TABLE DATOS
#    (NOMBRE VARCHAR(50),
#     EDAD INT,
#     DOMICILIO VARCHAR(50))
# ''')

puntero.execute("INSERT INTO DATOS VALUES (1,'JOSE RAMON', 20, 'MI CALLE, 20')")

# paso 4
# En este caso que estamos añadiendo información, simplemente hay que validar que queremos
# hacer los cambios con commit. En otros casos sería manipular la información obtenida
# desde una SELECT etc.
conexion.commit()

# paso 5
puntero.close()

# paso 6
conexion.close()

Aparentemente no ha pasado nada, sin embargo, hemos creado una base de datos con un sólo registro. Si podemos visualizar el contenido de la base de datos con algún browser de SQLite, veremos el resultado.

### Otras operaciones CRUD

#### Insertar varios registros a la vez

Hasta ahora hemos insertado un solo registro, pero esto no es muy útil, ya que puede que nuestra Base de Datos se tenga que rellenar con el resultado de un proceso, o de un log, etc. A continuación vamos a ver cómo se insertarían varios registros a partir de una lista de tuplas.

In [7]:
# paso 0
import sqlite3

# paso 1
conexion=sqlite3.connect("miBaseDatos")

# paso 2
puntero=conexion.cursor()
# lista de tuplas de valores a insertar
nombres=[
    ("PEDRO",34,"OLIVO,27"),
    ("JUAN",39,"NARVAEZ,20"),
    ("ANTONIO",20,"RONDA DEL ARCE,20")]
# paso 3
# para insertar muchos, la diferencia es que hay que colocar tantos ? como campos en la tupla
# El NULL que aparece al principio, permite introducir los valores del índice de forma autoincremental

puntero.executemany("INSERT INTO DATOS VALUES (NULL,?,?,?)",nombres)

# paso 4
# En este caso que estamos añadiendo información, simplemente hay que validar que queremos
# hacer los cambios con commit. En otros casos sería manipular la información obtenida
# desde una SELECT etc.
conexion.commit()

# paso 5
puntero.close()

# paso 6
conexion.close()

Tampoco parece pasar nada, pero se han insertado todos los registros.

#### Consultar información de una base de datos

En SQL, las consultas se realizan con SELECT. A continuación un ejemplo

In [8]:
# paso 0
import sqlite3

# paso 1
conexion=sqlite3.connect("miBaseDatos")

# paso 2
puntero=conexion.cursor()

# paso 3

puntero.execute("SELECT * FROM DATOS")

# paso 4
# con .fetchall obtenemos en forma de lista todos los datos almacenados
consultaNombres = puntero.fetchall()
for nom in consultaNombres:
    print(nom)
# cada nom es una tupla
# si quisiéramos poner sólo uno de los elementos, deberíamos poner nom[0] o nom[1] etc

conexion.commit()

# paso 5
puntero.close()

# paso 6
conexion.close()

(1, 'JOSE RAMON', 20, 'MI CALLE, 20')
(2, 'PEDRO', 34, 'OLIVO,27')
(3, 'JUAN', 39, 'NARVAEZ,20')
(4, 'ANTONIO', 20, 'RONDA DEL ARCE,20')

#### Modificar registros (UPDATE)

Update tiene una sintaxis similar a SELECT, por lo que, aquello que queramos modificar, antes debe ser filtrado

In [10]:
# paso 0
import sqlite3

# paso 1
conexion=sqlite3.connect("miBaseDatos")

# paso 2
puntero=conexion.cursor()

# paso 3

puntero.execute("UPDATE DATOS SET EDAD = 21 WHERE NOMBRE ='JOSE RAMON'")

# paso 4

conexion.commit()

# paso 5
puntero.close()

# paso 6
conexion.close()

#### Eliminar registros (DELETE)

Al igual que UPDATE, antes de borrar hay que elegir qué se debe borrar.
Una buena práctica es realizar un SELECT con la misma condición para saber qué registros se están seleccionando, porque el borrado no tiene vuelta atrás.

In [11]:
# paso 0
import sqlite3

# paso 1
conexion=sqlite3.connect("miBaseDatos")

# paso 2
puntero=conexion.cursor()

# paso 3

puntero.execute("DELETE FROM DATOS WHERE Id>3")

# paso 4

conexion.commit()

# paso 5
puntero.close()

# paso 6
conexion.close()

Aunque es cierto que cada Base de Datos puede aplicar ligeros cambios sobre la forma de implementar las operaciones CRUD vistas, los cambios son tan pequeños, que poco sentido tiene repetir todo para cada una de las bases de datos.

A continuación vamos a dar una lista de los módulos que operan algunos tipos de Base de Datos:

    Relacionales:
    
    MySQL:      pymysql, mysqldb
    Oracle:     cx_oracle, pandas-oracle
    SQL-Server: pyodbc
    Postgress:  psycopg2
    
    NoSQL:
    
    MongoDB:    pymongo
    Neo4J:      py2neo
    Redis:      redis
    Cassandra:  cassandra-driver


Además, existen módulos TODO-EN-1 como SQLAlchemy y SQLObject que pueden trabajar con distintos tipos de bases de datos sin tener que instalar todos los modulos.